/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Inter', sans-serif;
     font-weight: 300;
     background-color: rgb(12, 12, 13);
     color: white;
     margin: 0;
     padding: 0;
}

html, body {
     height: 100%;
     margin: 0;
     padding: 0;
}

.containter {
     min-height: 100vh;
}

/******************************************
/* LAYOUT
/*******************************************/

/** HOMEPAGE STYLES **/
   

/** HEADER **/
header {
     display: flex;
     justify-content: space-between;
     padding: 30px 50px;
}
   
.left-header a {
     text-decoration: none;
     font-size: 24px;
     color: inherit;
}
   
.right-header {
     display: flex;
     align-items: center;
}
   
.right-header ul {
     list-style: none;
     display: flex;
     gap: 20px;
     margin: 0;
}
   
.right-header li a {
     text-decoration: none;
     font-size: 15px;
     color: inherit;
}

header a:hover {
     background-color: white;
     color: black;
     padding: 10px;
     border-radius: 4px;
}

.menu-icon {
     display: none;
     background-color: white;
     color: black;
     cursor: pointer;
     border-radius: 5px;
     padding: 10px 15px;
}

.sr-only {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     border: 0;
}

.menu-line {
     width: 100%;
     height: 2px;
     background-color: black;
     margin-bottom: 4px;
}

@media only screen and (max-width: 768px) {
     .right-header {
          display: none;
          position: absolute;
          top: 3.7rem;
          left: 0;
          width: 100%;
          background-color: var(--primary-color);
          text-align: center;
     }
     .show {
          display: block;
     }
     .right-header a {
          display: block;
          padding: 1rem 1.5rem;
          color: var(--white-color);
     }
     .menu-icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          background-color: white;
          color: black;
          cursor: pointer;
          padding: 10px 15px;
     }
     .left-header {
          font-size: 1.4rem;
     }
}

/** INTRO SECTION **/
   
.intro-section {
     height: 100vh;
     min-height: 500px;
     width: 100%;
     background: url('https://thumbs.dreamstime.com/b/random-cat-love-cats-pet-catsslave-110819582.jpg') center/cover;
     position: relative;
     overflow: hidden;
}
   
.intro-content {
     height: 100%;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     width: 50%;
     background: rgba(0, 0, 0, 0.5);
     padding: 70px;
     box-sizing: border-box;
     text-align: left;
     color: white;
}
   
.intro-content h1 {
     font-size: 64px;
     margin-top: 150px;
     margin-right: 200px;
     margin-bottom: 10px;
     overflow-wrap: break-word;
     line-height: 1.3;
}
   
.intro-content p {
     font-size: 20px;
     margin-top: 50px;
}

@media only screen and (max-width: 768px) {
     .intro-section {
          height: auto;
     }

     .intro-content {
       width: 100%;
       height: auto;
       padding: 30px;
       text-align: center;
     }
   
     .intro-content h1 {
       font-size: 36px;
       margin-top: 50px;
       margin-right: 0;
     }
   
     .intro-content p {
       font-size: 16px;
       margin-top: 30px;
     }
}

/** OFFER SECTION **/
   
.offer-section {
     text-align: center;
     padding: 40px 20px;
     background-color: rgb(12, 12, 13);
     color: white;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 0.8s, transform 0.8s;
}

.offer-section.fade-in {
     opacity: 1;
     transform: translateY(0);
}
   
.offer-content {
     max-width: 600px;
     margin: 0 auto;
}

.offer-content:hover {
     opacity: 1;
}
   
.offer-content h2 {
     font-size: 40px;
     margin-bottom: 10px;
}
   
.offer-content p {
     font-size: 18px;
     margin: 0;
}

@media only screen and (max-width: 768px) {
     .offer-content h2 {
          font-size: 30px;
     }
     .offer-content p {
          font-size: 15px;
     }
}

/** PECULIAR SECTION **/   
   
.peculiar-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     padding: 40px 20px;
     background-color: rgb(12, 12, 13);
     color: white;
     overflow: hidden;
}
   
.peculiar-item img {
     max-width: 100%;
     height: auto;
     transform: translateX(-100%);
     transition: transform 0.8s ease-in-out;
}
   
.peculiar-item h3 {
     font-size: 24px;
     margin: 10px;
}
   
.first-p {
     font-size: 18px;
     margin-bottom: 10px;
}
.second-p {
     font-size: 15px;
     margin: 0;
}

.peculiar-item {
     flex: 0 0 calc(50% - 20px);
     margin-bottom: 20px;
     text-align: center;
}

@media only screen and (max-width: 768px) {
     .peculiar-item {
          flex: 0 0 100%;
     }

     .peculiar-item h3 {
          font-size: 20px;
     }

     .first-p {
          font-size: 16px;
     }

     .second-p {
          font-size: 13px;
     }
     
     .peculiar-item:nth-child(3) {
          order: 2;
     }
     .peculiar-item:nth-child(4) {
          order: 1;
     }
}

/** PORTFOLIO **/   
   
.portfolio-section {
     text-align: center;
     padding: 40px 20px;
     background-color: rgb(12, 12, 13);
     color: white;
}
   
.portfolio-header {
     margin-bottom: 30px;
}
   
.portfolio-header h2 {
     font-size: 40px;
     margin-bottom: 10px;
}
   
.portfolio-header p {
     font-size: 15px;
     margin-top: 35px;
     margin-left: 200px;
     margin-right: 200px;
     margin-bottom: 150px;
     line-height: 1.5;
}
   
.portfolio-items {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}
   
.portfolio-item {
     flex: 0 0 calc(100% - 20px);
     margin: 0 10px;
     margin-bottom: 20px;
}
   
.portfolio-item img {
     max-width: 100%;
     height: auto;
}
   
.portfolio-item h3 {
     font-size: 24px;
     margin: 30px 0;
}
   
.portfolio-item p {
     font-size: 15px;
     margin: 0;
}

@media only screen and (max-width: 768px) {
     .portfolio-header h2 {
          font-size: 30px;
     }

     .portfolio-header p {
          font-size: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 50px;
     }

     .portfolio-item h3 {
          font-size: 20px;
     }

     .portfolio-item p {
          font-size: 13px;
     }
}

@media only screen and (min-width: 768px) {
     .portfolio-item {
          flex: 0 0 calc(33.333% - 20px);
     }
}

/** FOOTER **/
   
.footer-section {
     text-align: center;
     padding: 20px;
     background-color: rgb(12, 12, 13);
     color: white;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 150px;
     box-sizing: border-box;
}
   
.footer-content {
     max-width: 600px;
     margin: 0 auto;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
   
.footer-content h3 {
     font-size: 24px;
}
   
.footer-content p {
     font-size: 16px;
     margin: 0;
}
   
.social-icons {
     display: flex;
     justify-content: center;
}
   
.social-icons a img {
     width: 50px;
     height: auto;
     padding: 10px;
}




/*************** ABOUT ME PAGE STYLES **************/

/** WHO I AM **/

.who-i-am-section {
     text-align: center;
     padding: 50px 0;
}
   
.who-i-am-content {
     max-width: 800px;
     margin: 0 auto;
}
   
.who-i-am-content h2 {
     font-size: 45px;
}
   
.who-i-am-content p {
     margin-top: 70px;
     font-size: 15px;
     line-height: 1.5;
     text-align: justify;
}

/** ABOUT ME IMAGE SECTION **/

.large-image-section {
     height: 100vh; /* 100% of the viewport height */
     overflow: hidden; /* Hide overflowing content */
}
   
.large-image-content {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
   
.large-image-content img {
     max-width: 100%;
     height: auto;
     object-fit: cover; /* Cover the entire container */
}
   

/** CV SECTION **/

.cv-section {
     text-align: center;
     padding: 50px 0;
}
   
.cv-content {
     max-width: 800px;
     margin: 0 auto;
}
   
.cv-content h2 {
     font-size: 45px;
}
   
.cv-content p {
     font-size: 18px;
}
   
.cv-item {
     margin-top: 20px;
}
   
.cv-item-left {
     display: flex;
     flex-direction: column;
     padding-left: 100px;
     margin-right: 100px;
}
   
.cv-item-left span {
     font-size: 15px;
     padding-bottom: 50px;
}
   
.cv-item p {
     font-size: 15px;
     text-align: justify;
     margin-right: 200px;
}

.cv-item {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
}


/******* PORTFOLIO PAGE STYLES ********/

/** CUSTOM PORTFOLIO SECTION **/

.custom-portfolio-section {
     text-align: center;
     padding: 50px 0;
}
   
.custom-portfolio-header {
     max-width: 800px;
     margin: 0 auto;
}
   
.custom-portfolio-header h2 {
     font-size: 45px;
}
   
.custom-portfolio-header p {
     font-size: 18px;
}

.custom-portfolio-header h2,
.custom-portfolio-header p {
     text-align: center;
}

/** PROJECT HIGHLIGHTS **/

.project-highlights-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 1200px;
     margin: 0 auto;
}
   
.project-highlight {
     width: 100%;
     margin-bottom: 20px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-self: center;
     align-items: center;
}
   
.project-highlight img {
     width: 100%;
     height: auto;
}
   
.project-highlight h3 {
     font-size: 24px;
     text-align: center;
     margin-top: 170px;
}
   
.project-highlight p {
     font-size: 15px;
     text-align: justify;
     padding-top: 15px;
     padding-left: 50px;
     padding-right: 50px;
}

@media only screen and (max-width: 768px) {
     .custom-portfolio-header h2 {
          font-size: 30px;
     }

     .custom.portfolio-header p {
          font-size: 15px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 50px;
     }

     .project-highlight h3 {
          font-size: 20px;
     }

     .project-highlight p {
          font-size: 13px;
     }
     .project-highlights-section:nth-child(3) {
          order: 2;
     }
     .project-highlights-section:nth-child(4) {
          order: 1;
     }
     .project-highlights-section:nth-child(5) {
          order: 4;
     }
     .project-highlights-sections:nth-child(6) {
          order: 3;
     }
}

@media only screen and (min-width: 768px) {
     .project-highlight {
          width: calc(50% - 10px);
     }
}


/************ CONTACT ME PAGE *************/

/** CONTACT ME SECTION **/

.contact-me-section {
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     padding: 50px 0;
}
   
.contact-info {
     flex: 1;
     padding-right: 20px;
     box-sizing: border-box;
     text-align: center;
}

.contact-info h2 {
     font-size: 45px;
     padding-top: 70px;
}
.contact-info p {
     font-size: 15px;
     padding-bottom: 20px;
}
   
.contact-form {
     flex: 1;
     box-sizing: border-box;
     padding-top: 20px;
}
   
.contact-form form {
     display: flex;
     flex-direction: column;
}
   
.contact-form label {
     margin-bottom: 8px;
}
   
.contact-form input,
.contact-form textarea {
     padding: 8px;
     margin-bottom: 12px;
     box-sizing: border-box;
     background-color: rgb(12, 12, 13);
     border: 1px solid white;
}
   
.contact-form .form-row {
     display: flex;
     justify-content: space-between;
}
   
.contact-form .form-col {
     flex: 1;
     margin-right: 10px;
}

.contact-form .form-row,
.contact-form .form-col {
     flex: 1;
     margin-right: 0;
}
   
.contact-form input[type="submit"] {
     background-color: white;
     color: black;
     padding: 10px;
     cursor: pointer;
}

@media only screen and (max-width: 768px) {
     .contact-me-section {
          flex-direction: column;
     }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1,
h2,
h3 {
     font-weight: 300;
}

